<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>Bourbon List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Years Aged</th>
        <th>Mash Bill</th>
      </tr>
    </thead>
    <tbody>
      <% bourbons.forEach(function(bourbon) { %>
        <tr>
          <td><%= bourbon.name %></td>
          <td><%= bourbon.age %></td>
          <td><%= bourbon.bill %></td>
          <td><a href="/bourbons/<%= bourbon._id %>">DETAILS</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
<%- include('../partials/footer') %>