<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/mt.css">
<%- include('../partials/nav') %>
<main>
  <h1 class="welcome">Bourbon List</h1>
  <div class="mdc-card">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Years Aged</th>
          <th>Mash Bill</th>
        </tr>
      </thead>
      <tbody>
        <% bourbons.forEach(function(bourbon) { %>
          <tr>
            <td><%= bourbon.name %></td>
            <td><%= bourbon.age %></td>
            <td><%= bourbon.bill %></td>
            <td><a href="/bourbons/<%= bourbon._id %>" class="details">DETAILS</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <img class="indeximage" src="https://i.imgur.com/Sl500Tc.png" width="800px" height="800px">
</main>
<%- include('../partials/footer') %>