<%- include('../partials/html-head') %>
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<%- include('../partials/nav') %>
<main>
  <% if (bourbon.owner.equals(user?.profile._id)) { %>
    <form action="/bourbons/<%= bourbon._id %>?_method=DELETE" method="POST">
      <button class="mdc-button mdc-button--raised mdc-button--leading" type="submit">
        <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
        <span class="mdc-button__label">Delete this Bourbon</span>
      </button>
    </form>
    <form action="/bourbons/<%= bourbon._id %>/edit" method="GET">
      <button class="mdc-button mdc-button--raised" type="submit">
        <span class="mdc-button__label">Edit this bourbon</span>
      </button>
    </form> 
  <% } %> 
  <section>
    <h1><%= bourbon.name %></h1>
    <h2>This bourbon was aged for <%= bourbon.age %> years</h2>
    <h2>hash bill: <%= bourbon.bill %> </h2>
  </section>
  <h1>Reviews</h1>
  <form action="/bourbons/<%= bourbon._id %>/reviews" method="POST"
  >
  <label class="mdc-text-field mdc-text-field--outlined">
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__notch">
        <span class="mdc-floating-label" id="my-label-id">Your Review...</span>
      </span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input type="text" name="content" class="mdc-text-field__input" aria-labelledby="my-label-id">
  </label>
    <label for="content-textarea">Review:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
  <h1>Prices</h1>
  <form action="/bourbons/<%= bourbon._id %>/prices" method="POST"
  >
  <label class="mdc-text-field mdc-text-field--outlined">
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__notch">
        <span class="mdc-floating-label" id="my-label-id">Where did you buy it?</span>
      </span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input type="text" name="area" class="mdc-text-field__input" aria-labelledby="my-label-id">
  </label>
  <label class="mdc-text-field mdc-text-field--outlined">
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__notch">
        <span class="mdc-floating-label" id="my-label-id">Price paid</span>
      </span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input type="text" name="price" class="mdc-text-field__input" aria-labelledby="my-label-id">
  </label>
  <button type="submit">Add Price</button>
  </form>
  <% if (bourbon.reviews.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% bourbon.reviews.forEach(function(review) { %>
          <% total+= review.rating %>
          <tr>
            <td><%= review.content %></td>
            <td><%= review.rating %> </td>
          </tr> 
        <% }) %> 
        <tr>
          <td colspan="2"></td>
          <td>
            <strong><%= (total / bourbon.reviews.length).toFixed(1) %> </strong>
          </td>
        </tr>  
      </tbody>
    </table>
  <% } else { %>
    <h3>No reviews yet</h3>
  <% } %>
  <% if (bourbon.prices.length) { %> 
    <table>
      <thead>
        <tr>
          <th>location</th>
          <th>Price</th>
        </tr>
      </thead>
      <% let total = 0 %>
      <% bourbon.prices.forEach(function(price) { %>  
        <% total += price.price %> 
        <tr>
          <td><%= price.area %> </td>
          <td><%= price.price %></td>
        </tr>
      <% }) %> 
        <tr>
          <td colspan="2"></td>
          <td>
            <strong><%= (total / bourbon.prices.length).toFixed(2) %> </strong>
          </td>
        </tr>
    </table>
    <% } else { %> 
      <h3>No Prices yet</h3>
    <% } %> 

</main>
<%- include('../partials/footer') %>