<%- include('../partials/html-head') %>
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<%- include('../partials/nav') %>
<main>
  <% if (bourbon.owner.equals(user?.profile._id)) { %>
    <form action="/bourbons/<%= bourbon._id %>?_method=DELETE" method="POST">
      <button class="mdc-button mdc-button--raised mdc-button--leading" type="submit">
        <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">delete</i>
        <span class="mdc-button__label">Delete this Bourbon</span>
      </button>
    </form>
    <form action="/bourbons/<%= bourbon._id %>/edit" method="GET">
      <button class="mdc-button mdc-button--raised" type="submit">
        <span class="mdc-button__label">Edit this bourbon</span>
      </button>
    </form> 
  <% } %> 
  <section>
    <h1><%= bourbon.name %></h1>
    <h2>This bourbon was aged for <%= bourbon.age %> years</h2>
    <h2>hash bill: <%= bourbon.bill %> </h2>
  </section>
  <h1>Reviews</h1>
  <form action="/bourbons/<%= bourbon._id %>/reviews" method="POST"
  >
  <textarea name="content"></textarea>
    <label for="content-textarea">Review:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
  <h1>Prices</h1>
  <form action="/bourbons/<%= bourbon._id %>/prices" method="POST"
  >
  <textarea name="area"></textarea>
  <label for="area-textcontent">Where did you buy it?</label>
  <label>Price paid:
    <input type="text" name="price">
  </label>
  <button type="submit">Add Price</button>
  </form>
  <% if (bourbon.reviews.length) { %> 
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% bourbon.reviews.forEach(function(review) { %>
          <% total+= review.rating %>
          <tr>
            <td><%= review.content %></td>
            <td><%= review.rating %> </td>
          </tr> 
        <% }) %> 
        <tr>
          <td colspan="2"></td>
          <td>
            <strong><%= (total / bourbon.reviews.length).toFixed(1) %> </strong>
          </td>
        </tr>  
      </tbody>
    </table>
  <% } else { %>
    <h3>No reviews yet</h3>
  <% } %>

</main>
<%- include('../partials/footer') %>