<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= bourbon.name %></h1>
  <h2>This bourbon was aged for <%= bourbon.age %> years</h2>
  <h2>hash bill: <%= bourbon.bill %> </h2>
</section>
<%- include('../partials/footer') %>